@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: $background-color;
  color: $light-color;
  line-height: 1.7;
  font-size: 18px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $light-color;
}

// Utils

// Nav

#nav-Container {
  background-color: black;
  color: $light-color;
  position: sticky;
  top: 0%;
  left: 0%;
  z-index: 25;

  .nav-Ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 1.5rem;

    li {
      padding: 1rem 1.3rem;
    }
    a:hover {
      color: $secondary-color;
    }
  }
}

// Slideshow

.slideshow-Container {
  position: relative;
  background-color: $background-color;

  .headerContainer {
    z-index: 20;
    color: $light-color;
    position: absolute;
    top: 20%;
    left: 12%;
    padding: 1rem 4rem 1rem 2rem;

    h1 {
      font-size: 5rem;

      span {
        color: $primary-color;

        &:before {
          content: "ı";
          position: absolute;
          color: $light-color;
        }
      }
    }

    .subHeader {
      font-size: 1.3rem;
    }
  }

  .mySlides {
    display: none;
    height: 100%;
  }

  img {
    width: 100%;
    height: 80vh;
    opacity: 0.7;
  }
}

.dots-Body {
  text-align: center;
  margin-top: 10px;
  position: absolute;
  top: 80%;
  left: 48%;
  z-index: 30;

  .dot {
    height: 15px;
    width: 15px;
    margin: 0 3px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active {
    background-color: #666;
  }
}

// Slideshow Fade

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
  transition: all 10s ease-in-out;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}

// Shared sections

.sectionContainer {
  display: flex;

  .sectionBanner {
    width: 35%;
    padding: 6rem 10% 5rem 15%;
    display: flex;
    flex-direction: column;

    .wordWrap {
      position: sticky;
      top: 9%;
    }

    h2 {
      font-size: 4rem;
      word-spacing: 999px;
      margin-bottom: 3rem;
    }

    h4 {
      font-size: 1.5rem;
      line-height: 1.7;
    }
  }

  .infoContainer {
    width: 65%;
    padding: 8rem;
  }
}

// -------- About section --------- //

#aboutBanner {
  background-color: $third-color;
}

.aboutGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 4rem 0;

  .aboutI {
    display: flex;
    padding: 2rem;

    .icon {
      padding: 1rem;
      margin-right: 1rem;
    }
  }
}

// -------- Services section --------- //

#servicesBanner {
  background-color: $primary-color;
}

.aboutInfo {
  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .text {
    padding: 1rem 0;
  }

  .bulletPoints {
    padding: 2rem 0;

    h3 {
      margin-bottom: 1rem;
    }

    i {
      margin-right: 0.8rem;
      color: $primary-color;
    }

    .point {
      padding: 0.3rem 0;
    }
  }
}

// ----- Parallax One ----- //

.parallax {
  background: url("/dist/img/scroll3.jpg") no-repeat center center / cover;
  background-attachment: fixed;
  height: 600px;
}

// ------ News section ------- //

#newsBanner {
  background-color: $secondary-color;
}

.infoContainer {
  .blogsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 8rem 0;

    .blog {
      padding: 4rem 3rem;

      a:hover {
        color: $secondary-color;
        transition: all 0.3s;
      }

      .date {
        color: #ccc;
      }

      .blogTitle {
        font-size: 2rem;
        padding: 1rem 0;

        &:hover {
          font-size: 2.1rem;
          transition: all 0.3s;
        }
      }

      .blogBody {
        font-size: 14px;
        line-height: 1.7;
      }
    }
  }
}

// ------ Skills section ------- //

#skillsBanner {
  background-color: $fourth-color;
}

#skillsInfo {
  .ourSkills {
    padding-top: 2rem;
    font-size: 1.7rem;
    color: lightgray;
  }

  .skills-chart {
    padding: 3rem 0;

    .skill {
      display: flex;
      padding: 2rem;

      .percent {
        font-size: 2rem;
        margin-right: 3rem;
        color: #ccc;
      }
      .name {
        font-size: 1.2rem;
      }
      .percent-bar {
        background-color: transparent;
        border-top: 2px #ccc solid;
        height: 13px;
        margin-top: 0.3rem;
        width: 400px;

        #google {
          background-color: snow;
          height: 13px;
          width: 85%;
        }
        #aws {
          background-color: snow;
          height: 13px;
          width: 93%;
        }
        #digital {
          background-color: snow;
          height: 13px;
          width: 75%;
        }
        #serverless {
          background-color: snow;
          height: 13px;
          width: 80%;
        }
      }
    }
  }
}

// ----- Contact Section ----- //

#contactBanner {
  background-color: black;
}

#contactInfo {
  .text {
    padding: 6rem 0;
    font-size: 1.4rem;
  }

  .contact-form {
    display: flex;
    flex-direction: column;

    input,
    textarea {
      background-color: transparent;
      border: none;
      border-bottom: 3px solid snow;
      padding: 1rem 0;
      font-size: 1rem;
      color: snow;
      font-family: "Poppins", sans-serif;

      &:focus {
        outline: none;
      }
    }
    textarea {
      height: 150px;
      font-size: inherit;
    }
    ::placeholder {
      color: snow;
      font-family: "Poppins", sans-serif;
    }
    .btn-contact {
      margin-top: 3rem;
      padding: 1rem 0;
      font-size: 1.2rem;
      background: transparent;
      color: snow;
      border-radius: 5px;
      font-weight: bold;

      &:hover {
        cursor: pointer;
        background-color: $secondary-color;
        transition: 0.8s;
        border: 2px solid $secondary-color;
      }
      &:focus {
        outline: none;
      }
    }
  }
}

// ----- Numbers section ----- //

#numbers {
  height: 300px;

  .numbersContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;

    .numberSection {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;

      .number {
        font-size: 4rem;
        font-weight: bold;
        color: $primary-color;
      }
    }
  }
}

// ----- Footer ----- //

#main-footer {
  height: 400px;
  background: black;

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    justify-content: center;

    .email {
      font-size: 3rem;
      padding-bottom: 3rem;
      font-weight: bold;
    }

    .socialmedia {
      padding: 1rem;

      a {
        color: snow;
        padding: 0 1rem;

        &:hover:nth-child(1) {
          color: $secondary-color;
        }
        &:hover:nth-child(2) {
          color: $third-color;
        }
        &:hover:nth-child(3) {
          color: $primary-color;
        }
        &:hover:nth-child(4) {
          color: $fourth-color;
        }
        &:hover:nth-child(5) {
          color: #260065;
        }
      }
    }
  }

  .signature {
    text-align: center;
    padding-bottom: 2rem;
    background: black;

    span {
      color: $third-color;
    }
  }
}
