@import "variables";

@media (max-width: 1550px) {
  // Shared

  .sectionContainer {
    .infoContainer {
      padding: 8rem 4rem;
    }
  }

  // News
  #news {
    h2 {
      font-size: 3rem;
    }
  }
}

@media (max-width: 1224px) {
  .sectionContainer {
    .infoContainer {
      padding: 8rem 3rem;
    }
  }

  .sectionContainer {
    display: flex;

    .sectionBanner {
      padding: 6rem 6% 5rem 10%;
    }

    #news {
      h2 {
        font-size: 2.5rem;
      }
    }
    .infoContainer {
      .blogsContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 8rem 0;
      }
    }

    #contactBanner {
      background-color: black;

      h2 {
        font-size: 3rem;
      }
    }

    //   About
    #about {
      .aboutI {
        display: flex;
        padding: 2rem 0.5rem;
      }
    }

    //   News
    .blog {
      padding: 4rem 1rem;
    }
  }
}

@media (max-width: 1100px) {
  .aboutGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 4rem 0;

    .aboutI {
      display: flex;
      padding: 2rem;

      .icon {
        padding: 1rem;
        margin-right: 1rem;
      }
    }
  }
}

@media (max-width: 1000px) {
  .sectionContainer {
    display: block;
    width: 100%;

    .infoContainer {
      width: 100%;
    }
  }

  .sectionBanner,
  #aboutBanner,
  #servicesBanner,
  #newsBanner,
  #skillsBanner,
  #contactBanner {
    width: 100%;
  }

  .sectionContainer {
    .infoContainer {
      padding: 8rem 7rem;
    }
    .sectionBanner {
      h2 {
        font-size: 4rem;
        word-spacing: 0;
        margin-bottom: 3rem;
      }
    }
  }
}

@media (max-width: 850px) {
  .sectionContainer {
    .infoContainer {
      padding: 8rem 4rem;
    }
  }

  #main-footer {
    .container {
      .email {
        font-size: 2rem;
      }
    }
  }

  #numbers {
    height: 600px;

    .numbersContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      height: 100%;

      .numberSection {
        padding: 1.5rem 1.5rem;
      }
    }
  }
}

@media (max-width: 630px) {
  .sectionContainer {
    .infoContainer {
      padding: 8rem 3rem;
    }
  }

  #nav-Container {
    .nav-Ul {
      li {
        padding: 1rem;
        font-size: 16px;
      }
      a:hover {
        color: $secondary-color;
      }
    }
  }

  .infoContainer {
    .blogsContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 8rem 0;

      .blog {
        padding: 4rem 0;
      }
    }
  }

  #skillsInfo {
    .skills-chart {
      .skill {
        padding: 2rem 2rem 2rem 0;

        .percent {
          font-size: 2rem;
          margin-right: 3rem;
          color: #ccc;
        }
        .name {
          font-size: 1.2rem;
        }
        .percent-bar {
          width: 300px;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  #numbers {
    height: 1000px;

    .numbersContainer {
      grid-template-columns: repeat(1, 1fr);
      padding-bottom: 2rem;

      .numberSection {
        padding: 1.5rem 1.5rem;
        display: block;
        text-align: center;
      }
    }
  }
}

@media (max-width: 480px) {
  #skillsInfo {
    .skills-chart {
      .skill {
        padding: 2rem 2rem 2rem 0;

        .percent {
          font-size: 2rem;
          margin-right: 3rem;
          color: #ccc;
        }
        .name {
          font-size: 1.2rem;
        }
        .percent-bar {
          width: 200px;
        }
      }
    }
  }

  #nav-Container {
    .nav-Ul {
      display: flex;
      justify-content: space-between;
      margin-right: 0;

      li {
        padding: 1rem 0.5rem;
        font-size: 12px;
      }
    }
  }

  .slideshow-Container {
    .headerContainer {
      h1 {
        font-size: 4rem;
      }
    }
  }

  .aboutGrid {
    .aboutI {
      padding: 2rem 0;
    }
  }

  #main-footer {
    .container {
      .email {
        font-size: 1.5rem;
      }

      .socialmedia {
        padding: 1rem;

        a:nth-child(5) {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 410px) {
  .slideshow-Container {
    .headerContainer {
      position: absolute;
      top: 20%;
      left: 5%;
      padding: 1rem 2rem 1rem 2rem;
    }
  }

  #main-footer {
    .container {
      .email {
        font-size: 1.2rem;
      }

      .socialmedia {
        padding: 1rem;

        a:nth-child(4) {
          display: none;
        }
      }
    }
  }

  #skillsInfo {
    .skills-chart {
      .skill {
        padding: 2rem 2rem 2rem 0;

        .percent-bar {
          width: 150px;
        }
      }
    }
  }
}
